.editor-text {
  ul {
    list-style: disc;
    margin: auto;
    padding: revert;
    li {
      margin-bottom: 5px;
    }
  }
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
  // display: flex !important;
  // justify-content: center !important;
  // height: 700px !important;
  // width: 1600px !important;
  // object-fit: cover !important;
}

// .image-gallery-slide  .image-gallery-center
.image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg {
  height: 50px !important;
}

